.initials {  height: 0px;
    width: 60px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 60%; /* may require vendor prefixes */
    background: yellow;
  }